.txt{
    color: #EDF2F4;
    font-family: 'Helvetica';
    font-weight: bold;
    margin-top: 10px;
}

.titulos{
    width: 238.5px;
    height: 350.2px;
}

#nomeTitulo{
    font-size: 16px;
    padding-top: 5px;
}
.search{
    cursor: pointer;
}
.titulos img{
    border-radius: 5px;
}

.container-search{
    background-Color: #3C3F5B;
    color: #EDF2F4;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Heveltica";
    flex-direction: column;
}
.sub-container-search{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    height: 90%;
    background-Color: #2B2D42;
    border-radius: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex: 1 0 10%; /* O valor após 0 é a largura mínima do filme. Ajuste conforme necessário */
    margin: 0.1em 0.5em; /* Espaçamento ao redor de cada filme. Ajuste conforme necessário */
}

.titulos:hover{
    transform: scale(1.05);
}
